[submodule "modules/xsimd"]
	path = modules/xsimd
	url = https://github.com/xtensor-stack/xsimd
[submodule "modules/googletest"]
	path = modules/googletest
	url = git@github.com:google/googletest.git
