name: Tests

on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches:
    - main
    - develop

  workflow_dispatch:

jobs:
  build_and_test:
    name: Test library with backend ${{ matrix.name }}, running on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
      matrix:
        include:
        - os: ubuntu-latest
          name: "Eigen"
          backend: "-DRTNEURAL_EIGEN=ON"
#        - os: ubuntu-latest
#          name: "Eigen - AVX"
#          backend: "-DRTNEURAL_EIGEN=ON -DRTNEURAL_USE_AVX=ON"
        - os: ubuntu-22.04
          name: "xsimd"
          backend: "-DRTNEURAL_XSIMD=ON"
#        - os: ubuntu-latest
#          name: "xsimd - AVX"
#          backend: "-DRTNEURAL_XSIMD=ON -DRTNEURAL_USE_AVX=ON"
        - os: ubuntu-latest
          name: "STL"
          backend: "-DRTNEURAL_STL=ON"
        - os: ubuntu-latest
          name: "Eigen / C++23"
          backend: "-DRTNEURAL_EIGEN=ON -DCMAKE_CXX_STANDARD=23 -DCMAKE_CXX_COMPILER=gcc-13 -DCMAKE_CXX_COMPILER=g++-13"
        # - os: ubuntu-latest
        #   name: "XSIMD / C++23"
        #   backend: "-DRTNEURAL_XSIMD=ON -DCMAKE_CXX_STANDARD=23 -DCMAKE_CXX_COMPILER=gcc-13 -DCMAKE_CXX_COMPILER=g++-13"
        - os: ubuntu-latest
          name: "STL / C++23"
          backend: "-DRTNEURAL_STL=ON -DCMAKE_CXX_STANDARD=23 -DCMAKE_CXX_COMPILER=gcc-13 -DCMAKE_CXX_COMPILER=g++-13"
        - os: windows-latest
          name: "Eigen"
          backend: "-DRTNEURAL_EIGEN=ON"
        - os: windows-latest
          name: "Eigen - AVX"
          backend: "-DRTNEURAL_EIGEN=ON -DRTNEURAL_USE_AVX=ON"
        # - os: windows-latest @TODO
        #   name: "xsimd"
        #   backend: "-DRTNEURAL_XSIMD=ON"
        - os: windows-latest
          name: "xsimd - AVX"
          backend: "-DRTNEURAL_XSIMD=ON -DRTNEURAL_USE_AVX=ON"
        - os: windows-latest
          name: "STL"
          backend: "-DRTNEURAL_STL=ON"
        - os: macos-latest
          name: "Eigen"
          backend: "-DRTNEURAL_EIGEN=ON"
#        - os: macos-latest
#          name: "Eigen - AVX"
#          backend: "-DRTNEURAL_EIGEN=ON -DRTNEURAL_USE_AVX=ON"
        - os: macos-latest
          name: "xsimd"
          backend: "-DRTNEURAL_XSIMD=ON"
#        - os: macos-latest
#          name: "xsimd - AVX"
#          backend: "-DRTNEURAL_XSIMD=ON -DRTNEURAL_USE_AVX=ON"
        - os: macos-latest
          name: "STL"
          backend: "-DRTNEURAL_STL=ON"

    steps:
    - name: Install Linux Deps
      if: runner.os == 'Linux'
      run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
          sudo apt update
          sudo apt install gcc-13 g++-13 -y

    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Configure
      env:
        BACKEND_ARG: ${{ matrix.backend }}
      shell: bash
      run: cmake -Bbuild -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON $BACKEND_ARG

    - name: Build
      shell: bash
      run: cmake --build build --config Release --parallel

    - name: Test
      shell: bash
      run: ctest -V -C Release --test-dir build --parallel --output-on-failure
